@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: .5rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: .5rem;
}
*:hover::-webkit-scrollbar-thumb {
  background-color: #242424;
}
body::-webkit-scrollbar-thumb {
  background-color: #242424;
}