@tailwind base;

*::-webkit-scrollbar {
  width: .5rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: .5rem;
}
*:hover::-webkit-scrollbar-thumb {
  background-color: #424242
}

@tailwind components;
@tailwind utilities;
